{% extends "base.html" %}

{% block content %}

<div class="h-screen flex items-center justify-center">

	<div class="card card-sm max-w-xs w-[96%] shadow-sm">
		<form method="POST" action="{% url 'reminders:add_list' %}" class="card-body">
			{% csrf_token %}
			<h2 class="card-title justify-center">New List</h2>

			<div class="bg-base-100 flex flex-col items-center p-3 rounded-box gap-2">
				<!-- fill-primary fill-secondary fill-success fill-accent fill-error fill-info w-12 h-12 -->
				<!-- stroke-primary-content stroke-secondary-content stroke-success-content stroke-accent-content stroke-error-content stroke-info-content -->
				<!-- fill-primary-content fill-secondary-content fill-success-content fill-accent-content fill-error-content fill-info-content -->
				<div id="icons">
					{% for radio in form.icon %}
					<div {% if not radio.data.selected %}class="hidden" {% endif %} id="{{ radio.data.value }}-icon">
						{% include "includes/icons/lists/"|add:radio.data.value|add:".svg" with bgcolour=form.colour.value strokecolour=form.colour.value size=12 %}
					</div>
					{% endfor %}
				</div>
				<!-- </div> -->
				<input type="text" name="name" maxlength="128" required="" id="id_name"
					class="input input-sm text-center font-semibold" placeholder="List Name">
			</div>

			<div class="bg-base-100 flex justify-around p-3 rounded-box gap-2">
				<!-- radio-primary radio-secondary radio-success radio-accent radio-error radio-info -->
				{% for radio in form.colour %}
				<input type="radio" name="colour" value="{{ radio.data.value }}" id="{{ radio.id_for_label }}" required
					class="radio radio-{{ radio.data.value }}" {% if radio.data.selected %} checked {% endif %}
					onclick="changeSelectedColourTo(this);">
				{% endfor %}
			</div>

			<div class="bg-base-100 flex justify-around items-center p-3 rounded-box gap-2">
				<!-- w-8 h-8 fill-base-content fill-base-300/75 -->
				{% for radio in form.icon %}
				<label class="cursor-pointer">
					<input type="radio" name="icon" value="{{ radio.data.value }}" class="peer sr-only"
						onclick="changeSelectedIconTo(this);" {% if radio.data.selected %}checked{% endif %}>
					<div
						class="flex items-center justify-center rounded-full border-2 border-base-100 peer-checked:border-base-content/75 transition">
						{% include "includes/icons/lists/"|add:radio.data.value|add:".svg" with bgcolour="base-300/75" %}
					</div>
				</label>
				{% endfor %}
			</div>

			<div class="card-actions justify-end">
				<a class="btn btn-xs px-4" href="{% url 'reminders:index' %}">Cancel</a>
				<button class="btn btn-xs btn-primary px-6">OK</button>
			</div>
		</form>
	</div>
</div>
<script>
	function changeSelectedColourTo(radio) {
		document.querySelector("#icons")
			.querySelectorAll(".icon-bg")
			.forEach(el => {
				el.classList = ["icon-bg fill-" + radio.value]
			});

		document.querySelector("#icons")
			.querySelectorAll(".icon-fg")
			.forEach(el => {
				el.classList = ["icon-fg stroke-" + radio.value + "-content"]
			});
	}

	function changeSelectedIconTo(radio) {
		document.querySelector("#icons")
			.querySelectorAll("div")
			.forEach(el => {
				if (el.id == radio.value + "-icon")
					el.classList = [""]
				else
					el.classList = ["hidden"]
			});
	}
</script>
{% endblock content %}
